<div class="rounded bg-tomato-gradient text-white text-center p-5">
    <h4 class="text-uppercase">Pomodoro</h4>

    <!-- Clock / Timer -->
    <div id="25m-clock" class="clock">
        25:00
    </div>

    <!-- Timer Remote -->
    <button id="start" type="button" class="btn btn-timer">Start</button>
    <button id="pause" type="button" class="btn btn-timer">Pause</button>
    <button id="reset" type="button" class="btn btn-timer">Reset</button>
</div>
